@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Space Grotesk", sans-serif;
  }
  :root {
    @apply text-lg;
  }

  /* Remove increment && decrement btn in input[type=number] */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.input {
  @apply border border-black rounded-md py-2 px-4 w-full;
}

.card {
  @apply w-72 xs:w-84 sm:w-96 aspect-video rounded-lg
          bg-cover px-8 py-5 shadow-lg;
}

.card-small-text {
  @apply text-white text-xs tracking-widest;
}
